In [1]:
ma_liste=[1,2,3,4,5,6,7,8,'Hello',10.5]
print(ma_liste)

[1, 2, 3, 4, 5, 6, 7, 8, 'Hello', 10.5]

In [3]:
ma_liste[1]

2

In [4]:
ma_liste[2:4]

[3, 4]

In [6]:
ma_liste[:4]

[1, 2, 3, 4]

In [7]:
ma_liste[2:]

[3, 4, 5, 6, 7, 8, 'Hello', 10.5]

In [8]:
ma_liste[0:2],ma_liste[4],ma_liste[5:7]

([1, 2], 5, [6, 7])

In [10]:
ma_liste[-2]

'Hello'

In [11]:
ma_liste[1:-4]

[2, 3, 4, 5, 6]

In [12]:
ma_liste[::2]

[1, 3, 5, 7, 'Hello']

In [13]:
ma_liste[1::2]

[2, 4, 6, 8, 10.5]

In [15]:
ma_liste.append(2)

In [16]:
print(ma_liste)

[1, 2, 3, 4, 5, 6, 7, 8, 'Hello', 10.5, 2, 2]

In [17]:
ma_liste.insert(5,"NOUVELLE")
print(ma_liste)

[1, 2, 3, 4, 5, 'NOUVELLE', 6, 7, 8, 'Hello', 10.5, 2, 2]

In [18]:
ma_liste[0]=1
print(ma_liste)

[1, 2, 3, 4, 5, 'NOUVELLE', 6, 7, 8, 'Hello', 10.5, 2, 2]

In [21]:
ma_liste[3:5]=['valeur_1', 'valeur_2']
print(ma_liste)

[1, 2, 3, 'valeur_1', 'valeur_2', 'NOUVELLE', 6, 7, 8, 'Hello', 10.5, 2, 2]

In [22]:
ma_liste[0:2]=[]
print(ma_liste)

[3, 'valeur_1', 'valeur_2', 'NOUVELLE', 6, 7, 8, 'Hello', 10.5, 2, 2]

In [24]:
del ma_liste[3]

In [25]:
print(ma_liste)

[3, 'valeur_1', 'valeur_2', 7, 8, 'Hello', 10.5, 2, 2]

In [26]:
ma_liste1=[1,2,3,4,5]

In [27]:
ma_liste2=[6,7,8,9,10]

In [28]:
ma_liste3=ma_liste2+ma_liste1
print(ma_liste3)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [29]:
sum(ma_liste3)

55

In [30]:
len(ma_liste3)

10

In [31]:
ma_liste=[5,6,1,2,5,6,6]

In [33]:
ma_liste.count(6)

3

In [34]:
ma_liste.sort()

In [35]:
print(ma_liste)

[1, 2, 5, 5, 6, 6, 6]

In [36]:
min(ma_liste)

1

In [37]:
max(ma_liste)

6

In [38]:
tuple1=(1,2,3,4,5)

In [39]:
tuple1[0]=0

TypeError: 'tuple' object does not support item assignment

In [40]:
tuple1[2]

3