In [2]:
mon_dictionnaire={
    'Marie':15,
    'Thomas':12,
    'Julien':'absent',
    'Elise':9,
    'Loe':20
}
mon_dictionnaire

{'Marie': 15, 'Thomas': 12, 'Julien': 'absent', 'Elise': 9, 'Loe': 20}

In [4]:
mon_dictionnaire['Loe']

20

In [6]:
mon_dictionnaire['Julie']=9
print(mon_dictionnaire)

{'Marie': 15, 'Thomas': 12, 'Julien': 'absent', 'Elise': 9, 'Loe': 20, 'Julie': 9}

In [7]:
mon_dictionnaire['Julien']=13
print(mon_dictionnaire)

{'Marie': 15, 'Thomas': 12, 'Julien': 13, 'Elise': 9, 'Loe': 20, 'Julie': 9}

In [8]:
del mon_dictionnaire['Julie']
print(mon_dictionnaire)

{'Marie': 15, 'Thomas': 12, 'Julien': 13, 'Elise': 9, 'Loe': 20}

In [9]:
mon_dictionnaire.keys()

dict_keys(['Marie', 'Thomas', 'Julien', 'Elise', 'Loe'])

In [10]:
mon_dictionnaire.values()

dict_values([15, 12, 13, 9, 20])

In [11]:
for cle in mon_dictionnaire.keys():
    print(cle)

Marie
Thomas
Julien
Elise
Loe

In [12]:
for valeur in mon_dictionnaire.values():
    print(valeur)

15
12
13
9
20

In [13]:
mon_dictionnaire.items()

dict_items([('Marie', 15), ('Thomas', 12), ('Julien', 13), ('Elise', 9), ('Loe', 20)])

In [16]:
for cle, valeur in mon_dictionnaire.items():
    print(cle, valeur)

Marie 15
Thomas 12
Julien 13
Elise 9
Loe 20